@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* Nextfire Palette */
  --color-bg: #eef0f1;
  --color-text: #08090a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;

  /* DS Palette */
  --color-ds-light: rgb(56, 60, 60);
  --color-ds-light-accent: rgb(48,52, 52); 
  --color-ds-dark: rgb(48, 52, 52); 
  --color-ds-dark-accent: rgb(48, 44, 44); 
  --color-ds-darker: rgb(40, 36, 36); 
  --color-ds-selected: rgb(64, 60, 68); 

  --color-ds-text: rgba(185, 187, 190, 255); 
  --color-ds-text-selected: rgba(255, 255,255, 255); 

  --rcs-ellipsis-color: #fff;
  --rcs-ellipsis-size: 64px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-ds-text);
  background-color: var(--color-ds-dark); 
  min-height: 100vh;
}

main {
  padding: 0rem 10vw;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Navbar */

.navbar {
  height: 70px;
  width: 100%;
  background: white;
  color: var(--colors-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  border-bottom: 1px solid var(--color-gray);
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
}

/* Buttons */

.btn, button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

button:hover {
  filter: brightness(90%);
}

button:disabled, button[disabled] {
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-google {
  background-color: var(--color-ds-text-selected);
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Cards */

.card {
  padding: 2rem;
  margin: 1rem 0;
  background-color: white;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
}

.card footer {
  display: flex;
}

.card-img-center {
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* File uploads */

input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
  margin-left: auto;
  background: white;
  padding: 5px;
  margin: 5px 0;
}

/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden {
  display: none;
} 


/* Loader */

.rcs-ellipsis {
  display: inline-block;
  position: relative;
  width: var(--rcs-ellipsis-size);
  height: var(--rcs-ellipsis-size);
}

.rcs-ellipsis div {
  position: absolute;
  top: calc(var(--rcs-ellipsis-size) / 2.42424);
  width: calc(var(--rcs-ellipsis-size) / 6.15385);
  height: calc(var(--rcs-ellipsis-size) / 6.15385);
  border-radius: 50%;
  background: var(--rcs-ellipsis-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.rcs-ellipsis div:nth-child(1) {
  left: calc(var(--rcs-ellipsis-size) / 10);
  animation: rcs-ellipsis1 0.6s infinite;
}

.rcs-ellipsis div:nth-child(2) {
  left: calc(var(--rcs-ellipsis-size) / 10);
  animation: rcs-ellipsis2 0.6s infinite;
}

.rcs-ellipsis div:nth-child(3) {
  left: calc(var(--rcs-ellipsis-size) / 2.5);
  animation: rcs-ellipsis2 0.6s infinite;
}

.rcs-ellipsis div:nth-child(4) {
  left: calc(var(--rcs-ellipsis-size) / 1.42857);
  animation: rcs-ellipsis3 0.6s infinite;
}

@keyframes rcs-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rcs-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rcs-ellipsis2 { 
  0% { 
    transform: translate(0, 0);
  } 
  100% { 
    transform: translate(calc(var(--rcs-ellipsis-size) / 3.33333), 0);
  } 
} 

/* messages */

p {
  max-width: 500px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
} 

.message { 
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
} 

.sent { 
  flex-direction: row-reverse;
} 

.sent p { 
  color: white;
  background: #0b93f6;
  align-self: flex-end;
} 

.received p { 
  background: #e5e5ea;
  color: black;
} 

.img { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 

.img img { 
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}  


